section {
	max-width: 1170px;
  	margin: 0 auto;
  	text-align: center;
}

.container {
	font-family: Arial
}

.navbar {
	margin-bottom: 0;
    border: none;
}

.navbar-nav > li > a {
	color: rgb(173, 173, 173);
}

.navbar-nav > li > a:hover {
	color: blue;
}


.navbar-brand {
	background-color: rgb(204, 203, 202);
	color: black;
	margin-left: 100px;
	font-family: Georgia;
	letter-spacing: 1px;
}

#special {
    margin-right: 160px;
}

.banner {
    background: url('img/image1.png');
    background-position: center;
	max-width: 1170px;
	height: 405px;
	position:relative;
	top: -20px;
}

.page_1 {
	max-width: 550px;
    text-align: center;
    position: relative;
    top: 100px;
    left: 100px;
    color: white;
}

.page_1 > h1 {
	font-weight: bold;
}

.page_1 > h4 {
	margin: 30px 0 50px 0;
	line-height: 22px;
	letter-spacing: normal;
}

.logos {
	min-height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -20px;
}

.logos_item {
	padding: 5px 15px;
	margin: 5px 10px 5px 30px;
	background-color: rgb(204, 203, 202);
}

div.logos_item > a {
	text-decoration: none;
	color: rgb(77, 77, 79);
}

#logos_dsc {
	background: none;
	font-weight: bold;
}


     /*SECOND PART*/


.block4{
	display: flex;
	height: 220px;
	width: 100%;
	background-color: #1ce;
	justify-content: space-around;

}
.img_container {
padding: 70px 20px 40px 80px;
display: flex;


}


.pcolor{
	color: white;
	line-height: 23px;
	padding-top: 15px;

}

.mainh {
	color: white;
	position: relative;
	top: 79px;
	left: 83px;
	font-size: 18px;
}

.mainh2 {
	text-align: center;
	font-size: 30px;
	color: 	#484848;


}

.blue_text {
	color: #1ce;
	font-weight: bold;
	font-size: 20px;
}


.top {
	display: flex;
	justify-content: space-around;
	padding: 15px 110px;

}

.bottom {
	display: flex;
	justify-content: space-around;
	padding: 40px 110px;
}
.floating {
float: left;
padding: 15px;
}
.textlorem {
	width: 490px;
	line-height: 22px;
	color: 	#808080;


}
 body > a {
    text-decoration: none;
   }
a:hover {
    text-decoration: underline;
    color: #1ce;

   }

   .maindiv {
   	margin-top: -85px;
   }


	 .lastest_episodes {
	   background-color: black;
	   max-width: 1170px;
	   margin: 0 auto;
	   text-align: center;
	 }


	 .s7_h3 {
	  text-align: center;
	  color: white;
	 	/*display: flex;*/
	 	justify-content: space-around;
	 	padding: 40px 110px;

	 }

	 .s7_cards {
	   display: flex;
	   justify-content: space-around;
	   /*justify-content: center;*/
	   align-items: center;
	   text-align: left;
	 }


	 .s7_card-title {
	   color: #1ce;
	   text-align: left;
	 }

	 .s7_card-text {
	   text-align: left;
	   color: white;
	 }

	 .s7_read_more {
	   color: #1ce;
	 }

	 #s7_order_entries {
	   color: #1ce;
	   display: flex;
	   text-align: left;
	   margin-top: 20px;
	   margin-left: 43px;
	 }

	 .s7_button {
	   width: 100%;
	   text-align: center;
	   padding-top: 20px;
	   padding-bottom: 60px;
	 }

	 #s7_button_more {
	   background-color: black;
	   color: #1ce;
	   border: 2px solid #1ce;
	   padding: 10px 15px;
	 }


	 /*Section 7 start*/

	 .popular_episodes {
	   background-color: white;
	   max-width: 1170px;
	   margin: 0 auto;
	   padding-top: 30px;
	   padding-bottom: 30px;
	   display: flex;
	   justify-content: space-between;
	 }

	 .s8_cards_block {
	   display: inline;
	   justify-content: space-around;
	   width: 680px;
	 }

	 .s8_mainh {
	   text-align: left;
	   font-size: 30px;
	   color: #484848
	 }

	 .s8_block {
	   display: flex;
	   display: inline-flex;
	 }

	 .s8_title {
	   text-align: start;
	 }

	 .s8_card {
	   padding-left: 20px;
	   width: 550px;
	 }

	 .s8_img {
	   padding-bottom: 20px;
	 }

	 .s8_text {
	   float: right;
	   right: 0px;
	   padding-left: 0%;
	   text-align: left;
	   display: inline-flex;
	 }


	 /* Section 8  */

	 .s9_social {
	   background-color: silver;
	   width: 400px;
	   padding-bottom: 30px;
	 }

	 .s9_title {
	   text-align: left;
	   background-color: white;
	 }

	 .s9_fb {
	   color: #1ce;
	   padding-left: 6px;
	 }

  /* END OF SECOND PART */


  /* 4-th PART */

  .consume {
  	padding-top: 10px;
  	background-color:rgb(204, 203, 202);
  }

  .icon_holder {
  	display: flex;
  	justify-content: space-around;
  	padding:25px 150px 30px 150px;
  }

  .icon {
  	background-color: black;
  	color: white;
  	width: 120px;
  	height: 120px;
  	border-radius: 50%;
  	text-align: center;
  	display: flex;
  	justify-content: center;
  	align-items: center;
  	padding: 8px;
  	font-size: 18px;
  }

  .consume > h3 > a {
  	text-decoration: none;
  	color: rgb(17, 204, 238);
  	cursor: pointer;
  }

  .epilogue_footer {
     display: flex;
     justify-content: center;
     background-color: black;
     color: white;
     padding: 30px 130px;
  }

  .left_part {
  	flex: 1;
  	max-width: 400px;
  	text-align: left;
  }

  .left_part p {
  	font-size: 10px;
  }

  .right_part {
  	flex: 1;
  }

  .left_part > h3, .right_part > h3 {
  	margin-bottom: 40px;
  }

  .right_part > .btn {
  	border-color: white;
  	color: white;
  }

  footer {
  	max-width: 1170px;
  	background-color: #191919;
  	text-align: center;
  	font-size: 12px;
  	color: white;
  	border: none;
  	padding: 10px;
  }

  .left_part > h3 > a {
  	text-decoration: none;
  	color: rgb(17, 204, 238);
  	cursor: pointer;
  }
